Bottleneck
brotlipy==0.7.0
certifi==2021.10.8
cffi
click==8.0.3
colorama
dash
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table
Flask
Flask-Compress==1.5.0
future
gunicorn==20.1.0
itsdangerous
Jinja2
MarkupSafe
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
numexpr
numpy
pandas
plotly
pycparser
python-dateutil
pytz==2021.3
PyYAML==6.0
retrying
six
Werkzeug
wincertstore==0.2
